<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Responsive Html5 Templates">
    <meta name="author" content="">
	
    <title>PhotoGrap | Free Bootstrap Themes</title>
	
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	
	<!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="fonts/stylesheet.css">
	<link href="/static/css/mb-comingsoon-iceberg.css" rel="stylesheet" />
	
	<!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="/static/js/jquery-2.1.1.js"></script>
	<script src="/static/js/modernizr.custom.97074.js"></script>

	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="sub-page">
	
	<header class="sub-header">
		<!-- /////////////////////////////////////////Navigation -->
		<nav id="menu" class="navbar container">
				<div class="">
					<div class="navbar-header">
						<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
						<a href="index.html" class="navbar-brand visible-xs">PhotoGrap</a>
					</div>
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav">
							<li><a href="{% url 'index' %}">主页</a></li>
							<li><a href="{% url 'provincesList' %}">省份</a></li>
                            <li><a href="{% url 'sceneryList' 0 %}">景区</a></li>
							<li><a href="https://map.baidu.com/@12260314.144401727,3937984.724654775,5.22z"  target = "_blank">地图</a></li>
							<li><a href="{% url 'contact' %}">留言</a></li>
						</ul>
					</div>
				</div>
			</nav>
		<!-- Navigation -->
		
		<div class="crumbs">
			<div class="container">
			<h2><a href="{% url 'sceneryList' 0 %}">景区</a></h2>
			<ul>
				<li><a href="{% url 'index' %}">主页</a></li>
				<li><a href="{% url 'sceneryList' 0 %}">景区</a></li>
			</ul>
			</div>
		</div>
	</header>
		<!-- Header -->

	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
		<div class="container">
			<div class="row">
				<div id="main-content">
					<article class="single-post">
						<div class="wrap-post"><!--Start Box-->
							<div class="entry-header">
{#								<span class="time">June 26, 2013  by admin</span>#}
								<h2 class="entry-title"><a href="#">{{ scenery.name }}</a></h2>
{#								<span class="cat-links"><a href="#">BUSINESS</a>, <a href="#">LIFESTYLE</a></span>#}
							</div>
							<div class="post-thumbnail-wrap">
								<img src="/media/{{ scenery.image }}">
							</div>
							<div class="entry-content">
                                {{ scenery.desc }}
							</div>
						</div>
					</article>
					
				</div>
			</div>
		</div>
	</div>
	
	<!-- FOOTER -->
	<footer>
		<div class="wrap-footer">
			<div class="container">
				<div class="row">
					<ul class="list-inline social-buttons">
                        <li><a href="#"><i><img src="/static/images/tubiao/wechat.png" alt="" class="tubiao"></i></a></li>
                        <li><a href="#"><i><img src="/static/images/tubiao/zhihu.png" alt="" class="tubiao"></i></a></li>
                        <li><a href="#"><i><img src="/static/images/tubiao/QQ.png" alt="" class="tubiao"></i></a></li>
                        <li><a href="#"><i><img src="/static/images/tubiao/weibo.png" alt="" class="tubiao"></i></a></li>
                        <li><a href="#"><i><img src="/static/images/tubiao/tieba.png" alt="" class="tubiao"></i></a></li>
					</ul>
					<div class="copyright">
						<p>Copyright 2019 - Powder by Django</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

    <!-- Core JavaScript Files -->
    <script src="/static/js/bootstrap.min.js"></script>
	

	
</body>

</html>
